.mySkills {
    color: white;
    position: absolute;
    top: 60px;
    display: grid;
    place-items: center;
    width: 100%;
}

.mySkills__header {
    display: grid;
    place-items: center;
    text-align: center;
}

.mySkills__header > p {
    font-size: 30px;
    display: block;
    font-weight: 400;
    line-height: 1.2;
    margin-top: 30px;
    margin-bottom: 15px;
    width: fit-content;
}

.mySkills__skills {
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    grid-template-rows: auto 100px auto;
    place-content: center;
    object-fit: cover;
    gap: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.mySkills__oneSkill {
    padding: 15px;
    position: relative;
    align-items: center;
    display: grid;
    place-items: center;
    transition: transform .4s;
    cursor: pointer;
}

.mySkills__oneSkill:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.mySkills__oneSkill > img {
    width: 100px;
    height: 100px;
}

@media only screen and (max-width: 1000px) {
    .mySkills__oneSkill > img {
        width: 70px;
        height: 70px;
    }

    .mySkills__skills {
        grid-template-columns: repeat(auto-fill, 100px);
        grid-template-rows: auto 70px auto;
    }

    .mySkills__header {
        padding: 5px;
    }

    .mySkills__header > p {
        font-size: 20px;
    }
}